.MuiMenu-paper {
  background-color: #00438a;
}
.MuiMenuItem-root {
  color: white;
  font-size: 2rem;
}

.formError {
  color: gray;
  font-style: italic;
}

form {
  width: 400px;
}

.submit-btn {
  color: white;
  background-color: #417cef;
  font-size: 18px;
  border-radius: 8px;
  border-width: 0px;
  font-family: Oxygen, sans-serif;
  text-transform: none;
  cursor: pointer;
  &:hover {
    background-color: #518bff;
    color: white;
  }
  &.small {
    padding: 5px 15px;
    font-size: 11;
    font-family: Oxygen, sans-serif;
  }
  &.cancel {
    background-color: gray;
    &:hover {
      background-color: rgb(156, 156, 156);
    }
  }
}

.card-image-div {
  max-height: 300px;
  overflow: hidden;
}

button {
  background-color: hwb(122 30% 31%);
  color: white;
  padding: 14px 20px;
  margin: 8px 11px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  float: left;
  font-size: 14px;
  font-weight: bold;
}

button:hover {
  background-color: #45a049;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.42);
}

.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

// Dark Mode Toggle
// Setup
//-------------------------------------

*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
}

// Main Styles
//-------------------------------------

body {
  color: #1a202c;
  background-color: #f3f4e0;
  transition: color 0.2s ease-in;
}

#app {
  height: 100vh;
  width: 100%;
}

main {
  background-color: #f3f4e0;
  width: 100%;
  transition: background-color 0.2s ease-in;
}

.navbar {
  display: flex;
  justify-content: center;
  position: fixed;
  top: 0;
  width: 100%;
  text-align: center;
  background-color: #0b1d4e;
  z-index: 1;
  .nav-button {
    color: white;
    padding: 5px 20px;
    margin: 8px 11px;
    border: none;
    border-radius: 4px;
    font-size: 12px;
    color: white;
    background-color: #2151d6;
    font-size: 1.2em;
  }
}

.dark-mode-div {
  color: white;
  display: inline;
  float: right;
  background-color: transparent;
  padding-right: 10px;
}

header {
  position: left;
  align-items: right;
  padding: 5px;
}

.artworkForm {
  margin-top: 20px;
  min-height: 100vh;
  font-size: 1.5em;

  input:hover {
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.12);
  }

  input[type="text"],
  select {
    width: 100%;
    padding: 12px 20px;
    margin: 5px 0 11px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }

  input[type="submit"] {
    width: 100%;
    background-color: #4caf50;
    color: white;
    padding: 14px 20px;
    margin: 0px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }

  input[type="submit"]:hover {
    background-color: #45a049;
  }
}

#toggle {
  width: 50px;
  display: flex;
  padding: 5px;
  background-color: #1a202c;
  display: block;
  border-radius: 1000px;
  cursor: pointer;
  box-shadow: 0px 5px 20px -10px #000000;
  transition: background-color 0.2s ease-in;

  .toggle-inner {
    width: 20px;
    height: 15px;
    background-color: white;
    border-radius: 1000px;
    transition:
      margin-left 0.2s ease-in,
      background-color 0.2s ease-in;

    &.toggle-active {
      margin-left: 20px;
    }
  }
}

#container {
  display: flex;
  height: 100%;
  width: 100%;
  align-items: center;

  flex-direction: column;

  p {
    opacity: 0.8;
  }
}

.submitBtn {
  font-size: 1em;
}

.site-title {
  color: white;
  font-size: 3em;
  font-family: "Fredericka the Great", cursive;
  font-weight: 100;
  background-color: #00270a;
  border-radius: 4px;
  padding: 15px;
  width: 555px;
  margin: auto;
}

.parent:hover .child {
  transform: scale(1.1);
}

// Dark Mode styling
//-------------------------------------

.dark-mode {
  color: rgb(255, 255, 255);
  background-color: #1a202c;

  a,
  .ArtworkCard {
    color: white;
  }

  main,
  .artwork-card,
  .artwork-modal {
    background-color: #1a202c;
  }

  .site-title {
    color: white;
    font-size: 3em;
    font-family: "Fredericka the Great", cursive;
    font-weight: 100;
    background-color: #00438a;
    border-radius: 4px;
    padding: 15px;
  }

  #toggle {
    background-color: rgb(255, 255, 255);

    .toggle-inner {
      background-color: #1a202c;
    }
  }
}

#toggle:hover {
  box-shadow: 2px 2px 11px rgba(0, 0, 0, 0.52);
}
// Dark Mode Toggle End

.artwork-modal {
  img {
    max-width: 600px;
  }
}

.artwork-modal::-webkit-scrollbar {
  width: 8px; /* Width of the scrollbar */
}

.artwork-modal::-webkit-scrollbar-track {
  background-color: #f1f1f1; /* Background color of the scrollbar track */
}

.artwork-modal::-webkit-scrollbar-thumb {
  background-color: #888; /* Color of the scrollbar thumb */
  border-radius: 4px; /* Rounded corners of the scrollbar thumb */
}

.artwork-modal::-webkit-scrollbar-thumb:hover {
  background-color: #555; /* Color of the scrollbar thumb on hover */
}
