.ArtworksContainer {  
  display: flex;
  flex-wrap: wrap;
  max-width: 1400px;
  justify-content: center;
}

.ArtworkCard {
  color: black;
  float: none;
  margin: 1%;
  width: 300px;
  margin-bottom: 12px;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-inline: 10px;
  text-align: center;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  max-height: 433px;
  border-radius: 1%;
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
  &:hover {
    box-shadow: 2px 2px 11px rgba(0,0,0,0.2);
  }
}

main {
  display: flex;
  justify-content: center;
}

@media (max-device-width: 5in) {
  .ArtworkCard {
    width: 100%;
       margin-block: 10px;
       margin-inline: 0px;
  }
  main {
    padding: 0px;
  }
}

.ArtworkImage {
  padding-top: 10px;
  width: 100%;
  overflow: hidden;
}

.ArtworkCard  h3 {
  font-size: 20px;
  line-height: 1;
  margin-bottom: 15px;
}